.table-client tbody tr {
	display: table;
    width: 100%;
    box-sizing: border-box;
}
.table-client thead tr {
	display: table;
    width: 100%;
    box-sizing: border-box;
}
.table-client  thead .largeur1, .table-client  tbody .largeur1 {
 	width: 20%;
}
.table-client  thead .largeur2, .table-client  tbody .largeur2 {
	width: 30%;
}
.table-client  thead .largeur3, .table-client  tbody .largeur3 {
 	width: 50%;
}
.section-client {
	padding: 1rem 1.5rem;
}
.label-recherche-client {
	padding-top: 9px;
	margin-right: auto;
}