@charset "ISO-8859-1";

#btnImpressionsDetailCmd {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	position: fixed;
	width:100%;
	bottom:0;
	margin-bottom:100px;
}

#btnAjoutArticleModif {
	position: fixed;
	width:100%;
	bottom:0;
	margin-bottom:200px;
}


@media screen and (orientation:landscape) {

	#btnImpressionsDetailCmd {
		margin-bottom:75px;
	}
}
