
/* body nav {
	position: sticky;
	top:0;
	z-index: 5;
}
 */
#nav {
	padding-left: 10px;
    padding-right: 10px;
}

#headerNav {
	display: contents;
}

@media screen and (orientation:landscape) {

	#imgLogo{
		height:54px;
		width: 100px;
	}
	
	#titleHeader {
    	margin-top: 2%;
	} 
}
