@charset "ISO-8859-1";

#bodyListeRecap{
	display: flex;
	flex-direction: column;
	margin-bottom: 150px;
}

#btnAjoutCommande {
	position: fixed;
    bottom: 0;
    margin-bottom: 100px;
    width: 100%;
}

@media screen and (orientation:landscape) {

	#btnAjoutCommande {
		position: fixed;
	    bottom: 0;
	    margin-bottom: 75px;
	    width: 100%;
	}
	
}
