@charset "ISO-8859-1";

#listeCategory{
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 10%;
	margin-left: 10%;
}

#category{
	margin-top: 22%;
	margin-bottom: 22%;
}

 @media screen and (orientation:landscape) {
 
 	 #category{
		margin-top: 10%;
	}
	  
 	#listeCategory{	
 		height: auto;
 		width: auto;
 		flex-direction: row;
 	}
  }
