.table-lot tbody tr {
	display: table;
    width: 100%;
    box-sizing: border-box;
}
.table-lot thead tr {
	display: table;
    width: 100%;
    box-sizing: border-box;
}
.table-lot thead .largeur-lot1, .table-lot  tbody .largeur-lot1 {
 	width: 10%;
}
.table-lot  thead .largeur-lot2, .table-lot  tbody .largeur-lot2 {
	width: 10%;
}
.table-lot  thead .largeur-lot3, .table-lot  tbody .largeur-lot3 {
 	width: 25%;
}
.table-lot  thead .largeur-lot4, .table-lot  tbody .largeur-lot4 {
 	width: 10%;
}
.table-lot  thead .largeur-lot5, .table-lot  tbody .largeur-lot5 {
 	width: 25%;
}
.table-lot  thead .largeur-lot6, .table-lot  tbody .largeur-lot6 {
 	width: 10%;
}