@charset "ISO-8859-1";

#titleCardRecap {
	text-align: center;
    margin: 10px;
    margin-top: 5px;
}

#btnImpressions {
	display: flex;
    justify-content: space-between;
	position: fixed;
	width:100%;
	bottom:0;
	margin-bottom:100px;
}
