@charset "ISO-8859-1";

#bodySaisieArticle {
	margin:10px;
}

.control {
	margin-bottom:10px;
}

#btnSaisieArticle {
	position: fixed;
	width:100%;
	bottom:0;
	margin-bottom:150px;
}

#topSaisieArticle{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#btnValiderCommande {
	position: fixed;
	width:100%;
	bottom:0;
	margin-bottom:100px;
}

#textareaForm {
	min-height: 5em;
}

.field {
	display:flex;
	justify-content: space-between;
}

#formSaisieArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
}
