.section-central {
	width: 100%;
	padding-top: 13%;
	padding-bottom: 13%;   
}

.input-color {
	background-color: #f2f2f2 !important;
}
.field-body {
	width:130px;
}
.box-button {
	box-shadow: none;
}
.input-date {
	width: 135px;
}
.input-date:active {
	boder-color: #b5b5b5!important;
}
@media (min-width: 600px) and (max-width: 1024px) {
		html
		{
		    overflow: hidden;
		}
		
		body
		{
		    overflow: hidden;
		    position: relative;
		    padding: 0;
		    margin: 0;
			min-height: 100vh;
		}
}

.body-flex {
	min-height:100vh;
	display:flex;
	flex-direction:column;
}

.content {
	flex-grow:1;
}

#outer-wrap {
    -webkit-overflow-scrolling: touch;
     height: 100vh;
     overflow: auto;
}

.false-input-text {
	cursor: text;
	text-align: left;
}

.form-fullwidth {
	width: 100%;
}

.section-borne {
	margin-bottom: auto;
}

.thead-color {
	background-color: #72787e!important;
}

.table-font {
	font-weight: 700;
}

.no-data-table {
	width: 100%; 
	height: calc(100vh - 594.375px); 
	justify-content:center; 
	align-items: center;
}

/* modal wait */
.modal-background {
    background-color: rgba(10,10,10,.30) !important;
}
.loader {
  overflow: hidden;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.modal-content-loader{
	width: 50px !important;
	overflow: hidden;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 29px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 5px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.chiffres_clavier_alpha_height_big {
	height: calc(100vh - 540.65px);
}

.chiffres_clavier_alpha_height_not_big {
	height: calc(100vh - 660.32px);
}

.chiffres_clavier_alpha_height_big_grid {
	height: calc(100vh - 455.65px);
}

.chiffres_clavier_alpha_height_not_big_grid {
	height: calc(100vh - 590.32px);
}

.label-order {
	padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
}

.section-saisie-order {
	padding: 1rem 1.5rem;
}

.table-order tbody tr {
	display: table;
    width: 100%;
    box-sizing: border-box;
}
.table-order thead tr {
	display: table;
    width: 100%;
    box-sizing: border-box;
}
.table-order thead .largeur1, .table-order  tbody .largeur1 {
 	width: 43%;
}
.table-order  thead .largeur2, .table-order  tbody .largeur2 {
	width: 11%;
	text-align: center;
}
.table-order  thead .largeur3, .table-order  tbody .largeur3 {
 	width: 19%;
 	text-align: center;
}
.table-order  thead .largeur4, .table-order  tbody .largeur4 {
 	width: 11%;
 	text-align: center;
}
.table-order  thead .largeur5, .table-order  tbody .largeur5 {
 	width: 11%;
 	text-align: center;
}
.table-order  thead .largeur6, .table-order  tbody .largeur6 {
 	width: 5%;
 	text-align: center;
}
