@charset "ISO-8859-1";

#top {
	display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 4px;
}

 #listArticle {
	margin: 5px;
	width: 85%;
} 

#formSelectArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
    margin-left: 10%;
}

#inputSaisieArt {
	margin: 5px;
	width: 85%;
}

#formInput {
	display:flex;
	width: 86%;
}

@media screen and (orientation:landscape) {
	
		#formInput {
		display:flex;
		width: 92%;
	}	
}
 